

@{
    Layout = null;
}
@if (Model.ListTotalDataCustomerReport != null)
{

    int i = 0;





    //int i = 0; i = (ViewBag.currentPageIndex - 1) * ViewBag.PageSize;
    foreach (var c in Model.ListTotalDataCustomerReport)
    {
       
        <tr>
            <td>@(i + 1)</td>
            
          
            <td>@c.STARTPROVINCENAME</td>
            <td>@c.ENDPROVINCENAME</td>
            <td>@c.C17TOTAL</td>
            <td>@c.PTC</td>
            <td>@c.TLPTC</td>
            <td>@c.CH</td>
            <td>@c.TLCH</td>
            <td>@c.TOTALKTT</td>
            <td>@c.TLKTT</td>                       
        </tr>

        i++;
        
    }


}


