@{
    if (Session["userid"] == null)
    { Response.Redirect("~/Admin/Home/Login"); }
}
<!DOCTYPE html>
<!--
   This is a starter template page. Use this page to start your new project from
   scratch. This page gets rid of all links and provides the needed markup only.
   -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <meta name="Googlebot" content="noindex,nofollow,noarchive" />
    <title>EMS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" media="all">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/Areas/Admin/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Areas/Admin/Content/dist/css/AdminLTE.min.css">
    <!-- Theme style --> 
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
       page. However, you can choose any other skin. Make sure you
       apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="/Areas/Admin/Content/dist/css/skins/skin-blue.min.css">
    <!--Print Js-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.19/dist/sweetalert2.min.css">
    <script src="/Areas/Admin/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Areas/Admin/Content/dist/css/Sweetalert2/Sweetalert2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<!--
   BODY TAG OPTIONS:
   =================
   Apply one or more of the following classes to get the
   desired effect
   |---------------------------------------------------------|
   | SKINS         | skin-blue                               |
   |               | skin-black                              |
   |               | skin-purple                             |
   |               | skin-yellow                             |
   |               | skin-red                                |
   |               | skin-green                              |
   |---------------------------------------------------------|
   |LAYOUT OPTIONS | fixed                                   |
   |               | layout-boxed                            |
   |               | layout-top-nav                          |
   |               | sidebar-collapse                        |
   |               | sidebar-mini                            |
   |---------------------------------------------------------|
   -->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="/Admin/Home/Index" class="logo">
                <i class="fa fa-home"></i> <span></span>
                <!-- mini logo for sidebar mini 50x50 pixels -->
                @*<span class="logo-mini"><b>E</b>MS</span>*@
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg"><b>EMS</b></span>*@
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        <!-- Tasks Menu -->
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="@Session["avatar"]" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@Session["fullname"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="@Session["avatar"]" class="img-circle" alt="User Image">
                                    <p>
                                        @Session["fullname"]
                                        <small>Member</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/Admin/Home/Logout" class="btn btn-default btn-flat">Đăng Xuất </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Session["avatar"]" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@Session["fullname"]</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                @*Phần Tra Cứu Định Vị Bưu Gửi*@
                @{
                    if (Convert.ToInt32(Session["Role"]) == 1 || Convert.ToInt32(Session["Role"]) == 2 || Convert.ToInt32(Session["Role"]) == 3)
                    {
                        <form action="/Admin/TrackAndTrace/Index?emscode=" method="get" @*class="sidebar-form"*@ autocomplete="off">
                            <div class="input-group">
                                <input type="text" name="emscode" id="emscode" placeholder="Nhập Mã E1..." class="form-control" maxlength="13">
                                <span class="input-group-btn">
                                    <a href='' class="btn btn-primary btn-flat" onclick="this.href = '/Admin/TrackAndTrace/Index?emscode=' + document.getElementById('emscode').value">
                                        <strong class="fa fa-arrow-circle-right">
                                        </strong>
                                    </a>
                                </span>
                            </div>
                        </form>
                    }
                }

                <ul class="sidebar-menu" data-widget="tree">

                    <!-- Optionally, you can add icons to the links -->
                    @{
                        if (Convert.ToInt32(Session["isadmin"]) == 1)
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-wrench"></i> <span>Danh mục</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/Categories">Danh mục chủ đề</a></li>
                                    <li><a href="/Admin/Posts">Danh mục bài viết</a></li>
                                    <li><a href="/Admin/Businesses">Danh mục nghiệp vụ</a></li>
                                    <li><a href="/Admin/Administrators">Danh mục người dùng</a></li>
                                </ul>
                            </li>

                        }
                    }

                    @{
                        if (Convert.ToInt32(Session["Role"]) == 4 || Convert.ToInt32(Session["Role"]) == 1 || Convert.ToString(Session["UserName"]) == "doisoatems" || Convert.ToString(Session["UserName"]) == "kinhdoanhems")
                        {

                            <li class="header" style="color:cornflowerblue;"><strong>QUẢN LÝ BÁO CÁO TIN NHẮN</strong></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-industry"></i> <span>Báo cáo tin nhắn</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    @*<li><a href="/Admin/ReportSMS/ReportSMS">Báo cáo nhắn tin SMS</a></li>

        >*@
                                    <li><a href="/Admin/ReportSMS/ReportZNSTotal">Báo cáo tổng hợp tin nhắn ZNS</a></li>
                                    <li><a href="/Admin/ReportSMS/ReportZNSDetail">Báo cáo chi tiết tin nhắn ZNS</a></li>
                                    <li><a href="/Admin/ReportSMSBrand/ReportSMSBrand">Báo cáo sản lượng dịch vụ<br /> SMS BrandName </a></li>
                                    <li><a href="/Admin/ItemSend/ItemSendReport">Báo cáo thống kê dịch vụ GTGT</a></li>
                                    <li><a href="/Admin/ZNS_TCB/ZNS_TCBReport">Báo cáo thống kê sản lượng <br />ZNS TCB</a></li>
                                </ul>

                            </li>

                        }
                    }

                    @{
                        if (Convert.ToInt32(Session["Role"]) == 1)
                        {
                            <li class="header" style="color:cornflowerblue;"><strong>TRA CỨU ĐỊNH VỊ</strong></li>
                        <!-- Group 1 -->
                        <!-- Group Quốc Tế -->
                            <li>
                                <a href="/Admin/FindReceptacle/Index">
                                    <i class="fa fa-search"></i> <span>Tra cứu túi gói <br />đi quốc tế</span>
                                </a>
                            </li>





                            <li class="header" style="color:cornflowerblue;"><strong>QUẢN LÝ SỰ VỤ</strong></li>
                        <!-- Group 1 -->
                        <!-- Group Quốc Tế -->
                            <li>
                                <a href="/Admin/Affair/Affair">
                                    <i class="fa fa-search"></i> <span>Tra cứu lập sự vụ</span>
                                </a>
                            </li>


                        <!-- Group Đối Soát truyền nhận giao dịch -->
                            <li class="header" style="color:cornflowerblue;"><strong>ĐỐI SOÁT TRUYỀN NHẬN</strong></li>
                            <li>
                                <a href="/Admin/CheckDealTransfer/CheckDealTransferDetailReport">
                                    <i class="fa fa-calculator"></i> <span>Đối soát chuyến thư đi</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/CheckDealDelivery/CheckDealDeliveryDetailReport">
                                    <i class="fa fa-calculator"></i> <span>Đối soát báo phát</span>
                                </a>
                            </li>
                            @*<li>
                                    <a href="/Admin/DetailLadingToPostMan/DeleteDuplicateBD13">
                                        <i class="fa fa-times"></i> <span>Xử lý trùng BD13</span>
                                    </a>
                                </li>*@
                        }

                    }

                    @{
                        if (Convert.ToInt32(Session["Role"]) == 1 || Convert.ToInt32(Session["Role"]) == 2)
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-link"></i> <span>Tra cứu bd13</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/DetailBD13/BD13DetailReport">Chi tiết E1 BD13 DATACENTER</a></li>
                                    <li><a href="/Admin/DetailLadingToPostMan/LadingToPostManDetailReport">Chi tiết E1 BD13 PNS</a></li>
                                </ul>
                            </li>

                        <!-- Group 10 -->
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-angle-double-right"></i> <span>Quản lý truyền nhận</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/TransferManagement/TransferManagementDetailReport">Quản lý truyền nhận EMS</a></li>
                                    <li><a href="/Admin/TransferManagementVNPOST/TransferManagementVNPOSTDetailReport">Quản lý truyền nhận VNPOST</a></li>
                                    <li><a href="/Admin/TKSLGD/Detail_TKSLGD">Báo cáo chấp nhận tại GD</a></li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-calculator"></i> <span>Hỗ trợ import báo phát</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>

                                <ul class="treeview-menu">
                                    <li><a href="/Admin/DeliveryImport/DeliveryImport">Import báo phát theo <br />danh sách</a></li>
                                    <li><a href="/Admin/DeliveryImport/DeliveryInsert">Cập nhật báo phát</a></li>
                                </ul>
                            </li>
                        }
                    }

                    @{
                        if (Convert.ToInt32(Session["Role"]) == 10)
                        {
                            <li class="header" style="color:cornflowerblue;"><strong>BÁO CÁO TỔNG HỢP</strong></li>
                        <!-- Group Sàn KT -->
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-building"></i> <span>Báo cáo tổng hợp <br />dữ liệu mạng lưới </span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/ReportTHDV/TH_DV">Tổng hợp theo dịch vụ</a></li>
                                    <li><a href="/Admin/ReportTHDONVI/TH_DONVI">Tổng hợp theo đơn vị</a></li>
                                    <li><a href="/Admin/ReportTHDONVIDICHVU/TH_DONVIDICHVU">TH theo Dịch vụ và đơn vị</a></li>
                                    <li><a href="/Admin/ReportTHTINHTINH/TH_TINHTINH">Tỉnh-Tỉnh DV EMS TN</a></li>
                                    <li><a href="/Admin/ReportTHHUYENHUYEN/TH_HUYENHUYEN">Huyện-Huyện DV EMS TN</a></li>
                                    <li><a href="/Admin/ReportTHE1TN/E1TN">Theo mã E1 trong nước</a></li>
                                    <li><a href="/Admin/ReportTHQTDI/QTDI">Theo mã E1 QT đi</a></li>
                                    <li><a href="/Admin/ReportTHQTDEN/QTDEN">Theo mã E1 QT đến</a></li>
                                    <li><a href="/Admin/ReportTHDVCT/THDVCT">Tổng hợp DVCT</a></li>
                                    <li><a href="/Admin/ReportCTDVCT/CTDVCT">Chi tiết DVCT</a></li>
                                    <li><a href="/Admin/ReportCTLO/CTLO">Chi tiết dịch vụ Lô</a></li>
                                    <li><a href="/Admin/ReportTHCH/TH_CH">Tổng hợp Chuyển hoàn</a></li>
                                    <li><a href="https://portal.ems.com.vn/Bao_Cao_SLDT_Thang.aspx">SLDT theo ngày tại BĐT</a></li>
                                </ul>
                            </li>

                        }
                    }

                    @{
                        if (Convert.ToInt32(Session["Role"]) == 1 || Convert.ToInt32(Session["userid"]) == 3)
                        {
                            <li class="header" style="color:cornflowerblue;"><strong>BÁO CÁO</strong></li>
                        <!-- Group Sàn KT -->
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-building"></i> <span>Báo Cáo Hoạt Động<br /> Tại Sàn KT </span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/DevelopActivity/DevelopActivityDetailReport">Liên Tỉnh</a></li>
                                    <li><a href="/Admin/DevelopActivity/DevelopActivity_NOI_TINH_DetailReport">Nội Tỉnh</a></li>
                                </ul>
                            </li>


                        }
                    }

                    @{
                        if (Convert.ToInt32(Session["Role"]) == 1 || Convert.ToInt32(Session["Role"]) == 2)
                        {
                        <!-- Group 9 -->

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-building"></i> <span>Báo cáo kinh doanh</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/ReportTHDV/TH_DV">Tổng hợp theo dịch vụ</a></li>
                                    <li><a href="/Admin/ReportTHDONVI/TH_DONVI">Tổng hợp theo đơn vị</a></li>
                                    <li><a href="/Admin/ReportTHDONVIDICHVU/TH_DONVIDICHVU">TH theo Dịch vụ và đơn vị</a></li>
                                    <li><a href="/Admin/ReportTHTINHTINH/TH_TINHTINH">Tỉnh-Tỉnh DV EMS TN</a></li>
                                    <li><a href="/Admin/ReportTHHUYENHUYEN/TH_HUYENHUYEN">Huyện-Huyện DV EMS TN</a></li>
                                    <li><a href="/Admin/ReportTHE1TN/E1TN">Theo mã E1 trong nước</a></li>
                                    <li><a href="/Admin/ReportTHQTDI/QTDI">Theo mã E1 QT đi</a></li>
                                    <li><a href="/Admin/QT_Di_NEW/QT_Di_NEW">Theo mã E1 QT đi New</a></li>
                                    <li><a href="/Admin/ReportTHQTDEN/QTDEN">Theo mã E1 QT đến</a></li>
                                    <li><a href="/Admin/ReportTHDVCT/THDVCT">Tổng hợp DVCT</a></li>
                                    <li><a href="/Admin/ReportCTDVCT/CTDVCT">Chi tiết DVCT</a></li>
                                    <li><a href="/Admin/ReportCTLO/CTLO">Chi tiết dịch vụ Lô</a></li>
                                    <li><a href="/Admin/ReportTHCH/TH_CH">Tổng hợp Chuyển hoàn</a></li>
                                    <li><a href="https://portal.ems.com.vn/Bao_Cao_SLDT_Thang.aspx">SLDT theo ngày tại BĐT</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-industry"></i> <span>Báo cáo chất lượng <br> KPI thu gom</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/KPIPickup/DetailPickup">Báo cáo chất lượng  CT <br /> Thu gom</a></li>
                                    <li><a href="/Admin/KPIPickup/KPIPickupSuccess">Báo cáo Thu gom Thành công</a></li>
                                    <li><a href="/Admin/KPIPickup/KPIPickupSuccessDQD">Báo cáo Thu gom đúng <br /> quy định</a></li>
                                    <li><a href="/Admin/KPIPickup/KPIPickup">Báo cáo chất lượng Thu gom</a></li>
                                    <li><a href="/Admin/KPIPickup/KPIPickupV2">Báo cáo chất lượng Thu gom V2</a></li>
                                    <li><a href="/Admin/KPIPickupLog/KPIPickupLog">Báo cáo chất lượng <br /> Thu gom KHL</a></li>

                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-industry"></i> <span>Báo cáo chất lượng <br> KPI KTVC</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/KPITransport/KPITransport">Khai thác vận chuyển EMS</a></li>
                                    <li><a href="/Admin/THHub/THHub">Tổng hợp các HUB</a></li>

                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-industry"></i> <span>Báo cáo chất lượng <br> KPI khai thác</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/KPIKT/THSL">Tổng hợp sản lượng</a></li>
                                    <li><a href="/Admin/THTCKT/THTCKT">Tổng hợp theo hành trình</a></li>
                                    <li><a href="/Admin/CTTCKT/CTTCKT">Chi tiết theo hành trình</a></li>
                                    <li><a href="/Admin/KPIKT/THSLQT">Tổng hợp sản lượng QT</a></li>
                                    <li><a href="/Admin/THTCKT/THTCKTQT">Tổng hợp theo hành trình QT</a></li>
                                    <li><a href="/Admin/CTTCKT/CTTCKTQT">Chi tiết theo hành trình QT</a></li>
                                    <li><a href="/Admin/TMSKPI/TMSKPI">Lược đồ khai thác</a></li>

                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-industry"></i> <span>Báo cáo chất lượng <br> KPI toàn trình</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/DetailHub/TotalHub">Chất lượng KPI hướng <br />trọng điểm</a></li>

                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-industry"></i> <span>Báo cáo chất lượng <br> KPI phát</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/QualityDelivery/QualityDeliveryDetailReport">Chất lượng phát</a></li>
                                    <li><a href="/Admin/QualityNBPDelivery/QualityDeliveryNBPDetailReport">Chất lượng nhập báo phát</a></li>
                                    <li><a href="/Admin/KpiBD13Delivery/KpiBD13DeliveryDetailReport">Chất lượng bd13</a></li>
                                    <li><a href="/Admin/KPI_Customer_Hub_Phat/KPI_Customer_Hub_Phat_Report">Kiểm soát nộp tiền COD</a></li>
                                    <li><a href="/Admin/KPI_Customer_Hub_LK/KPI_Customer_Hub_LK_Report">Kiểm soát BG PKTC chưa xử lý</a></li>
                                    <li><a href="/Admin/KPi_Customer_PKTC/KPi_Customer_PKTC_Report">Báo cáo lý do  PKTC</a></li>
                                    <li><a href="/Admin/KPI_Customer_HPTC/KPI_Customer_HPTC_Report">Báo cáo hủy phát thành công </a></li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-industry"></i> <span>Báo cáo chất lượng <br> KHL</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/QualityKHDelivery/QualityDeliveryKHDetailReport">Chất lượng theo trạng thái</a></li>
                                    <li><a href="/Admin/TotalDataCustomer/TotalDataCustomerDetailReport">Chất lượng chuyển phát</a></li>
                                    <li><a href="/Admin/KPI_Customer/KPI_Customer_Report">Chất lượng chuyển phát <br /> theo dịch vụ</a></li>

                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-industry"></i> <span>Báo cáo chất lượng <br> bưu cục KHL</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">

                                    <li><a href="/Admin/KPIDeliveryLOG/Detail_PLD_XND">Chất lượng PLD bưu cục</a></li>
                                    <li><a href="/Admin/KPIDeliveryLOG/Detail_PTC_XND">Chất lượng PTC bưu cục</a></li>
                                    <li><a href="/Admin/KPIDeliveryLOG/Detail_PLD_BT">Chất lượng PLD giao bưu tá</a></li>
                                    <li><a href="/Admin/KPIDeliveryLOG/Detail_PTC_BT">Chất lượng PTC giao bưu tá</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-building"></i> <span>BC chất lượng dịch vụ</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/KPIHT/KPI_Total_HT">Chất lượng dịch vụ hỏa tốc</a></li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-building"></i> <span>BC chất lượng bưu tá </span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    @*<li><a href="/Admin/PostmanDelivery/KpipostmanDeliveryDetailReport">KPI chất lượng bưu tá</a></li>*@
                                    <li><a href="/Admin/TKSL/Detail_TKSL">Thống kê sử dụng SMP</a></li>
                                    @*<li><a href="/Admin/TKSLP/Detail_TKSLP">Thống kê sản lượng phát</a></li>*@
                                    <li><a href="/Admin/TK_LD/Detail_TK_LD">Thống kê lý do phát thất bại</a></li>
                                    <li><a href="/Admin/HistoryCall/THHistoryCall">Thống kê tổng hợp cuộc gọi</a></li>
                                    <li><a href="/Admin/HistoryCall/CTHistoryCall">Thống kê chi tiết  cuộc gọi</a></li>
                                    <li><a href="/Admin/KPI_Delivery_Wage/KPI_Delivery_Wage">Thống kê sản lượng đến BCP</a></li>
                                    <li><a href="/Admin/KPI_Delivery_Wage/KPI_Detail_Wage">Thống kê chi tiết sản lượng<br />phát của bưu tá</a></li>
                                </ul>
                            </li>
                        <!-- Group 11 -->
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-plane"></i> <span>Báo cáo quốc tế </span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/InternationalDetail/InternationalDetailReport">Báo cáo chi tiết <br /> hàng quốc tế đến VN</a></li>
                                </ul>
                            </li>


                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-industry"></i> <span>Báo cáo NVCL </span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/KPI_BD10_Hub_Time/KPI_BD10_Hub_Report">Báo cáo bưu gửi <br /> xác nhận đến Hub</a></li>
                                    <li><a href="/Admin/KPI_BD10_Hub_SL/KPI_BD10_Hub_Report">Báo cáo sản lượng, khối lượng <br/>theo đường thư</a></li>
                                    <li><a href="/Admin/KPI_BD10_Hub/KPI_BD10_Hub_Report">Báo cáo thời gian xác nhận<br />  đến BĐT</a></li>
                                    <li><a href="/Admin/KPI_Delivery_Time/KPI_Delivery_Time_Report">Báo cáo dự kiến thời gian<br />  phát bưu gửi</a></li>
                                    <li><a href="/Admin/KPI_SL_Du_Bao/KPI_SL_Du_Bao_Report">Báo cáo dự báo hàng đến KTV</a></li>
                                </ul>
                            </li>
                        }
                    }



                    @{
                        if (Convert.ToInt32(Session["userid"]) == 1 || Convert.ToInt32(Session["userid"]) == 4 || Convert.ToString(Session["UserName"]) == "kinhdoanhems")
                        {
                            <li class="header" style="color:cornflowerblue;"><strong>HỖ TRỢ KHÁCH HÀNG</strong></li>
                        <!-- Group QUẢN LÝ KH CRM -->
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Quản Lý Khách Hàng</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/UserManagement/UserManagementDetailReport">DS Deal chưa nhập trên CRM</a></li>
                                    <li><a href="/Admin/SaleUserManagement/SaleUserManagementDetailReport">Thông Tin Nhân Viên KD</a></li>
                                    <li><a href="/Admin/DealAndAccountFalse/CheckDealAndAccountReport">DS Deal & Account Sai</a></li>
                                    <li><a href="/Admin/ChannelManagement/Index">KH kết nối zalo</a></li>
                                    <li><a href="/Admin/CustomerPortal/CustomerPortalReport">Thu nhập dữ liệu khách hàng</a></li>
                                </ul>
                            </li>

                        }
                    }

                    @{
                        //Userid = 18 (KH Adupia)
                        if (Convert.ToInt32(Session["userid"]) == 1 || Convert.ToInt32(Session["userid"]) == 18 || Convert.ToInt32(Session["userid"]) == 3016 || Convert.ToInt32(Session["Role"]) == 8)
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user"></i> <span>Hỗ Trợ Khách Hàng</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/TotalDataCustomer/TotalDataCustomerDetailReport">Tổng Hợp Dữ Liệu KHL</a></li>
                                    <li><a href="/Admin/TrackingOrder/TrackingOrderDetailReport">Theo Dõi Đơn Hàng</a></li>
                                    <li><a href="/Admin/TransferCODDataHM/InsertCODDataHM">Hỗ Trợ Khách Hàng H&M</a></li>
                                </ul>
                            </li>
                        }
                    }

                    @{
                        //Accout ktqt
                        if (Convert.ToInt32(Session["userid"]) == 1 || Convert.ToInt32(Session["userid"]) == 16 || Convert.ToString(Session["UserName"]) == "nghiepvuems" || Convert.ToString(Session["UserName"]) == "saohd")
                        {
                            <li class="header" style="color:cornflowerblue;"><strong>HỖ TRỢ QUỐC TẾ</strong></li>
                            <li>
                                <a href="/Admin/InsertStatusInternational/InsertStatusInternationalView">
                                    <i class="fa fa-calculator"></i> <span>Nhập trạng thái quốc tế</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/InsertStatusInternationalForPartner/InsertStatusInternationalForPartnerView">
                                    <i class="fa fa-calculator"></i> <span>Nhập trạng thái quốc tế<br />cho đối tác</span>
                                </a>
                            </li>
                        }
                    }

                    @{
                        //Accout ktqt
                        if (Convert.ToInt32(Session["userid"]) == 1)
                        {
                            <li class="header" style="color:cornflowerblue;"><strong>HỖ TRỢ ĐẠI SỨ QUÁN MỸ</strong></li>
                            <li>
                                <a href="/Admin/PrintBarcode_CGI/BarcodeInsert">
                                    <i class="fa-solid fa-print">  </i><span>                    In BarCode CGI</span>
                                </a>
                            </li>
                        }
                    }

                </ul>

                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @*
                <section class="content-header">
                   <h1>
                      <small>Page </small>
                   </h1>
                   <ol class="breadcrumb">
                      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                      <li class="active">Here</li>
                   </ol>
                </section>
            *@
            <!-- Main content -->
            @*<section class="content container-fluid">*@
            @RenderBody()
            @*
                </section>
            *@
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                <!-- Anything you want -->
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year.ToString() <a href="#">Cong Ty Co Phan Chuyen Phat Nhanh Buu Dien</a>.</strong> All rights reserved.
        </footer>
    </div>
</body>
</html>
<!-- Bootstrap 3.3.7 -->
<script src="/Areas/Admin/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/Areas/Admin/Content/dist/js/adminlte.min.js"></script>
<!-- date-range-picker -->
<script src="/Areas/Admin/Content/bower_components/moment/min/moment.min.js"></script>
<script src="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/Areas/Admin/Content/bower_components/Bootpag/Bootpag.min.js"></script>
<!-- Sweet Alert -->
@*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.28/dist/sweetalert2.all.min.js"></script>*@

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>