

@{
    Layout = null;
}
@if (Model.ListDetailedQualityTHE1TNReport != null)
{
    int i = 0;
    var j = Model.ListDetailedQualityTHE1TNReport.Count;


    foreach (var c in Model.ListDetailedQualityTHE1TNReport)
    {
        <tr>
            @*<td class="text-center">@(i + 1)</td>*@
            <td class="text-center">@c.STT</td>
            <td class="text-left">@c.Donvi</td>
            <td class="text-left">@c.Matinhnhan</td>
            <td class="text-left">@c.Tentinhnhan</td>
            <td class="text-left">@c.NgayPhatHanh</td>
            <td class="text-left">@c.Madvchinh</td>
            <td class="text-left">@c.TenDV</td>
            <td class="text-left">@c.Mae1</td>
            <td class="text-left">@c.MaKH</td>
            <td class="text-left">@c.TenNguoiGui</td>
            <td class="text-left">@c.DiaChiGui</td>
            <td class="text-left">@c.TenNguoiNhan</td>
            <td class="text-left">@c.DiaChiNhan</td>
            <td class="text-left">@c.MaTinhTra</td>
            <td class="text-left">@c.Tentinhtra</td>
            <td class="text-left">@c.TrangThaiPhat</td>
            <td class="text-left">@c.khoiluong</td>
            <td class="text-left">@c.KLQD</td>
            <td class="text-left">@c.Cuocchinh</td>
            <td class="text-left">@c.Cuocdvct</td>
            <td class="text-left">@c.PPXD</td>
            <td class="text-left">@c.PPVX</td>
            <td class="text-left">@c.PPKhac</td>
            <td class="text-left">@c.Tongcuoc</td>

        </tr>
        i++;
        if (i == 50)
        {
            break;
        }
    }



    <script type="text/javascript" src="~/Areas/Admin/Content/bower_components/QualityDelivertChartJS/Chart.js"></script>
    //Thuộc tính attr sẽ gọi đến rel VD : $(this).attr("rel"); sẽ gọi đến rel , $(this).attr("data-id"); sẽ gọi đến data-id.
    <tr>

        <th class="text-right">Total:</th>
        <td class="text-center">@j</td>
    </tr>
}
else
{
    <script type="text/javascript">
        $('#btnexportlist').hide();
        swal.fire(
          'Không Có Số Liệu',
          '',
          'error'
        )
    </script>
   
}


